.input {
  display: block;
  width: 270px;
  height: 33px;
  color: #e2e2e4;
  font-weight: 500;
  font-size: 13px;
  padding-left: 10px;
  background-color: #252838;
  border-radius: 5px;
  border: 0px;
  outline: 0px;
}
