@import "../../../../static/styles/colors";
.label {
  color: $gray;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
}

.input {
  display: block;
  background-color: $dark;
  color: $white;
  width: 270px;
  height: 33px;
  border-radius: 5px;
  border: 0px;
  outline: 0px;
  font-weight: 500;
  font-size: 13px;
  margin-top: 8px;
  padding-left: 10px;

  .error {
    color: $red;
  }
}

.helperText {
  display: none;
  color: $red;
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  padding-top: 7px;
}
