@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  --background-color: #252838;
  --section-color: #343a4f;
  --main-text-color: #e2e2e4;
  --secondary-text-color: #9898b0;
  --chip-color: #9898b0;
  --danger-color: #f44d4d;
  --accent-color: #3369f3;
  --message-bg-color: #4c546f;
  --button-hover-color: #113fb3;
}
