@import"../../static/styles/colors";
.page {
  background-color: $dark;
  height: 100vh;
  display: flex;
  justify-content: center;

  .form {
    height: 560px;
    width: 340px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: $light;
    border-radius: 12px;
    align-items: center;

    h1 {
      margin: 0;
      padding-top: 50px;
      padding-bottom: 40px;
      color: $white;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
    }

    .inputs {
      padding-bottom: 110px;
    }

    .link {
      padding-top: 14px;
      font-weight: 500;
      font-size: 11px;
      line-height: 11px;
      color: $blue;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
