.wrapper{
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: #252838;
}
.login_form {
  height: 450px;
  width: 340px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #343A4F;
  border-radius: 12px;
  align-items: center;
}
.login_form h1{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 40px;
  color: #E2E2E4;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
.link{
  font-family: 'Roboto', sans-serif;
  padding-top: 14px;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #3369F3;
  text-decoration: none;
}
.link:hover{
  text-decoration:underline;
}
.sign_in__inputs{
  padding-bottom: 132px;
}
